.match {
  display: flex;
  justify-content: space-between;
  &__info {
    flex: 1 1 0px;
    display: flex;
    justify-content: space-between;
    & > * {
      width: 33%;
    }
    &-team {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
